#header{
    text-align: center; background-color: rgb(93,199,73); color: #fff; padding-top: 20px;
    position: absolute; width: 100%; z-index: 20;
}
#header h3, #header h1{
    font-size: 20px; height: 44px; line-height: 44px; margin: 0em; color: #fff;
}
#main{
    padding: 2em;
}

#footer{
    height: 30px; line-height: 30px;
    background-color: rgb(93,199,73); 
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    text-align: center;
}
#footer h5{
    color: white;
}
.con{font-size: 18px; text-align: center}